body {
    background-color: #f1f1f1;
}

.barra {
    background-color: #3c8dbc;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.barra h2 {
    margin: 0;
}

.barra span {
    font-weight: bold;
    color: black;
}

.perfil .user {
    font-size: 30px;
}

.dropdown-menu {
    margin-top: 20px;
    background-color: #262134;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menu-perfil {
    color: white;
}

.menu-perfil:hover {
    background-color: #3c8dbc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    color: white;
}

.cerrar:hover i {
    color: white;
}

/* BARRA LATERAL */
.barra-lateral {
    background-color: #222d32;
    min-width: 250px;
    min-height: 100vh;
    color: #fff;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
}

/* ESTILOS MENU BARRA LATERAL */
.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background-color: #003C5D;
    text-decoration: none;
}

.active {
    background-color: #003C5D;
}

.barra-lateral .menu {
    border-top: 5px #fff solid;
}

.barra-lateral .menu a i {
    margin-right: 20px;
}

/* MAIN CONTENT */
.main {
    padding-top: 40px;
}

.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}

/* MEDIAQUERY */
@media screen and (max-width: 1300px) {
    .barra {
        min-width: auto;
    }
    .barra-lateral {
        min-width: auto;
        min-height: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    /*.dropdown-menu {
        margin: 20px -79px 0px;
    }*/
}

@media screen and (max-width: 575px) {
    .barra-lateral {
        min-height: auto;
    }

    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }

    .barra-lateral .menu a span {
        transition: display 1000ms;
    }

    .barra-lateral .menu a:hover span{
        margin-left: 10px;
        display: inline;
    }

    .dropdown-menu {
        margin: 20px -78px 0px;
    }

    body {
        font-size: 16px;
        overflow: visible;
    }
}